.rcs-hourglass {
  --rcs-hourglass-ratio: calc(var(--rcs-hourglass-size) / 64);
  display: inline-block;
  position: relative;
  width: var(--rcs-hourglass-size);
  height: var(--rcs-hourglass-size);
}

.rcs-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: calc(6 * var(--rcs-hourglass-ratio));
  box-sizing: border-box;
  border: calc(26 * var(--rcs-hourglass-ratio)) solid var(--rcs-hourglass-color);
  border-color: var(--rcs-hourglass-color) transparent;
  animation: rcs-hourglass 1.2s infinite;
}

@keyframes rcs-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
