:root {
  --rcs-ripple-color: #fff;
  --rcs-ripple-size: 64px;
  --rcs-ripple-thickness: 4px;
}

.rcs-ripple {
  display: inline-block;
  position: relative;
  width: var(--rcs-ripple-size);
  height: var(--rcs-ripple-size);
}

.rcs-ripple div {
  position: absolute;
  border: var(--rcs-ripple-thickness) solid var(--rcs-ripple-color);
  border-radius: 50%;
  animation: rcs-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.rcs-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes rcs-ripple {
  0% {
    top: calc(var(--rcs-ripple-size) / 2.22222);
    left: calc(var(--rcs-ripple-size) / 2.22222);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: calc(var(--rcs-ripple-size) / 1.11111);
    height: calc(var(--rcs-ripple-size) / 1.11111);
    opacity: 0;
  }
}
