{
  "presets": ["@babel/typescript", "@babel/env", "@babel/react"],
  "plugins": ["@babel/transform-runtime"],
  "env": {
    "esm": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ]
    }
  }
}
