{
  "presets": ["@babel/typescript", "@babel/env", "@babel/react"],
  "plugins": [
    "@babel/transform-runtime",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "unsafe-wrap",
        "ignoreFilenames": ["node_modules"]
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ]
    }
  }
}
