{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": "node 10"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "unsafe-wrap",
        "ignoreFilenames": ["node_modules"]
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "targets": "node 10",
            "modules": false
          }
        ],
        "@babel/react"
      ]
    }
  }
}
