.rcs-ellipsis {
  --rcs-ellipsis-ratio: calc(var(--rcs-ellipsis-size) / 64);
  display: inline-block;
  position: relative;
  width: var(--rcs-ellipsis-size);
  height: var(--rcs-ellipsis-size);
}

.rcs-ellipsis div {
  position: absolute;
  top: calc(27 * var(--rcs-ellipsis-ratio));
  width: calc(11 * var(--rcs-ellipsis-ratio));
  height: calc(11 * var(--rcs-ellipsis-ratio));
  background: var(--rcs-ellipsis-color);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.rcs-ellipsis div:nth-child(1) {
  left: calc(6 * var(--rcs-ellipsis-ratio));
  animation: rcs-ellipsis1 0.6s infinite;
}

.rcs-ellipsis div:nth-child(2) {
  left: calc(6 * var(--rcs-ellipsis-ratio));
  animation: rcs-ellipsis2 0.6s infinite;
}

.rcs-ellipsis div:nth-child(3) {
  left: calc(26 * var(--rcs-ellipsis-ratio));
  animation: rcs-ellipsis2 0.6s infinite;
}

.rcs-ellipsis div:nth-child(4) {
  left: calc(45 * var(--rcs-ellipsis-ratio));
  animation: rcs-ellipsis3 0.6s infinite;
}

@keyframes rcs-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rcs-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rcs-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(19 * var(--rcs-ellipsis-ratio)), 0);
  }
}
