.rcs-grid {
  --rcs-grid-ratio: calc(var(--rcs-grid-size) / 64);
  display: inline-block;
  position: relative;
  width: var(--rcs-grid-size);
  height: var(--rcs-grid-size);
}

.rcs-grid div {
  position: absolute;
  width: calc(13 * var(--rcs-grid-ratio));
  height: calc(13 * var(--rcs-grid-ratio));
  border-radius: 50%;
  background: var(--rcs-grid-color);
  animation: rcs-grid 1.2s linear infinite;
}

.rcs-grid div:nth-child(1) {
  top: calc(6 * var(--rcs-grid-ratio));
  left: calc(6 * var(--rcs-grid-ratio));
  animation-delay: 0s;
}

.rcs-grid div:nth-child(2) {
  top: calc(6 * var(--rcs-grid-ratio));
  left: calc(26 * var(--rcs-grid-ratio));
  animation-delay: -0.4s;
}

.rcs-grid div:nth-child(3) {
  top: calc(6 * var(--rcs-grid-ratio));
  left: calc(45 * var(--rcs-grid-ratio));
  animation-delay: -0.8s;
}

.rcs-grid div:nth-child(4) {
  top: calc(26 * var(--rcs-grid-ratio));
  left: calc(6 * var(--rcs-grid-ratio));
  animation-delay: -0.4s;
}

.rcs-grid div:nth-child(5) {
  top: calc(26 * var(--rcs-grid-ratio));
  left: calc(26 * var(--rcs-grid-ratio));
  animation-delay: -0.8s;
}

.rcs-grid div:nth-child(6) {
  top: calc(26 * var(--rcs-grid-ratio));
  left: calc(45 * var(--rcs-grid-ratio));
  animation-delay: -1.2s;
}

.rcs-grid div:nth-child(7) {
  top: calc(45 * var(--rcs-grid-ratio));
  left: calc(6 * var(--rcs-grid-ratio));
  animation-delay: -0.8s;
}

.rcs-grid div:nth-child(8) {
  top: calc(45 * var(--rcs-grid-ratio));
  left: calc(26 * var(--rcs-grid-ratio));
  animation-delay: -1.2s;
}

.rcs-grid div:nth-child(9) {
  top: calc(45 * var(--rcs-grid-ratio));
  left: calc(45 * var(--rcs-grid-ratio));
  animation-delay: -1.6s;
}

@keyframes rcs-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
