.rcs-wave {
  --rcs-wave-ratio: calc(var(--rcs-wave-size) / 64);
  display: inline-block;
  position: relative;
  width: var(--rcs-wave-size);
  height: var(--rcs-wave-size);
}

.rcs-wave div {
  display: inline-block;
  position: absolute;
  left: calc(6 * var(--rcs-wave-ratio));
  width: var(--rcs-wave-thickness);
  background: var(--rcs-wave-color);
  animation: rcs-wave 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.rcs-wave div:nth-child(1) {
  left: calc(6 * var(--rcs-wave-ratio));
  animation-delay: -0.24s;
}

.rcs-wave div:nth-child(2) {
  left: calc(26 * var(--rcs-wave-ratio));
  animation-delay: -0.12s;
}

.rcs-wave div:nth-child(3) {
  left: calc(45 * var(--rcs-wave-ratio));
  animation-delay: 0;
}

@keyframes rcs-wave {
  0% {
    top: calc(6 * var(--rcs-wave-ratio));
    height: calc(51 * var(--rcs-wave-ratio));
  }
  50%,
  100% {
    top: calc(19 * var(--rcs-wave-ratio));
    height: calc(26 * var(--rcs-wave-ratio));
  }
}
