:root {
  --rcs-circle-color: #fff;
  --rcs-circle-size: 64px;
}

.rcs-circle {
  display: inline-block;
  width: var(--rcs-circle-size);
  height: var(--rcs-circle-size);
  transform: translateZ(1px);
}

.rcs-circle > div {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--rcs-circle-color);
  animation: rcs-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes rcs-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
